body {
    background-color: aliceblue;
}
.navbar a {
    color: white;
    text-decoration: none;
    font-size: large;
    padding: 1em;
}
.navbar-nav {
    justify-content: center;
    padding: 1em;
} 
.navbar a:hover{
    color: lightseagreen;
    text-decoration: none;
}
ul, li {
    list-style: none;
    padding: 0;
}
.vertical-center-text-in-div {
    display: flex;
    flex: 1 0 50%;
    align-items: center;
}
.border-me {
    border: 2px solid #ffc107;
    border-radius: 4px;
    padding: 0.5em;
}
.row {
    padding: 0.5em 0em 0.5em 1em;
}
.container {
    padding: 1em 1em 0 1em;
    min-height: 100vh;
    background-color: white;
}

.stripe-off, .stripe-on {
    border-radius: 4px;
}
.stripe-on {
    background-color: #fbf0fe;
}
.stripe-off {
    background-color: white;
}
.form-inline {
    text-align: center;
}
.page-nav-group{
    padding: 2em;
}