@model IdentityLoginViewModel
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

@if (ViewBag.Msg != null)
{
    <h3 style="color: red;">@ViewBag.Msg</h3>
}

<form asp-action="Login" method="post">
    <div class="form-group">
        <label asp-for="Username" class="control-label"></label>
        <input class="form-control" asp-for="Username" />
        <span asp-validation-for="Username" class="text-danger"></span><br />

        <label asp-for="Password" class="control-label"></label>
        <input id="loginpw" class="form-control" asp-for="Password" />
        <span asp-validation-for="Password" class="text-danger"></span><br />
        <input type="button" onclick="PasswordToggle(this, 'loginpw')" value="Show Password" class="btn btn-info" /><br />


    </div>

    <div class="form-group">
        <input type="submit" value="Login" class="btn btn-primary" />
    </div>
</form>