@model CreatePersonViewModel


<form id="create-person-form" onsubmit="SubmitForm(event, this, 'personlist', true, CreatePersonSuccess);" class="form-horizontal  border-me" method="post" asp-controller="Register" asp-action="CreatePerson">
    <label class="control-label" asp-for="Name"></label>
    <input class="form-control" asp-for="Name" />
    <span class="text text-danger" asp-validation-for="Name"></span><br />

    @Html.EditorFor(p => p.City)<br />

    @Html.EditorFor(p => p.LanguageSelectionViewModel)<br />

    <label class="control-label" asp-for="PhoneNumber"></label>
    <input class="form-control" asp-for="PhoneNumber" />
    <span class="text text-danger" asp-validation-for="PhoneNumber"></span><br />

    <input class="btn btn-success" type="submit" value="Create" />
</form>