@model CreatePersonViewModel

@{
    var routeId = ViewContext.RouteData.Values["id"];
    string targetId = "persondiv" + routeId;
}
<form onsubmit="SubmitForm(event, this, '@targetId');" class="form-horizontal" method="post" asp-action="EditPerson" asp-controller="Register" asp-route-id="@routeId">
    <label class="control-label" asp-for="Name"></label>
    <input class="form-control" asp-for="Name" />
    <span asp-validation-for="Name"></span><br />

    <label class="control-label" asp-for="City"></label>
    <input class="form-control" asp-for="City" />
    <span asp-validation-for="City"></span><br />

    <label class="control-label" asp-for="PhoneNumber"></label>
    <input class="form-control" asp-for="PhoneNumber" />
    <span asp-validation-for="PhoneNumber"></span><br />

    <input type="submit" value="Save" />
    <button onclick="ReplaceTargetWithAspActionResult(event, this, '@targetId');" asp-controller="Register" asp-action="GetPerson" asp-route-id="@routeId">Cancel</button>
</form>
