<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script src="~/js/registerUtilities.js" asp-append-version="true">//asp-apend-verison sidesteps unwanted file-caching by browser because it will rename the file if altered.</script>

    <link href="~/css/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Brand</a>
        <div class="navbar-nav">

            <span>|</span>
            @if (User.Identity.IsAuthenticated)
            {
                <a class="nav-item nav-link active" asp-controller="Register" asp-action="People">People Register</a>
                <a class="nav-item nav-link active" asp-controller="Account" asp-action="MyProfile">My Profile</a>
                <a class="nav-item nav-link active" asp-controller="Account" asp-action="SignOut">Sign Out</a>
            }
            else
            {
                <a class="nav-item nav-link active" asp-controller="Account" asp-action="Login">Login</a>
                <a class="nav-item nav-link active" asp-controller="Account" asp-action="SignUp">Sign Up</a>
            }
        </div>
    </nav>

    <div id="all" class="container">

        @RenderBody()
    </div>
</body>
</html>
