@model PeopleViewModel

<div class="row">
    <div class="col-sm-3">
        <h3>Name</h3>
    </div>
    <div class="col-sm-2">
        <h3>City</h3>
    </div>
    <div class="col-sm-3">
        <h3>Phone Number</h3>
    </div>
    <div class="col-sm-2">
        <h3>Languages</h3>
    </div>
    <div class="col-sm-2">
        <h3>Action</h3>
    </div>
</div>
@{ 
    int i = 0;
}
@foreach (var item in Model.Persons)
{
    string stripeClass = i++ % 2 == 0 ? "stripe-on" : "stripe-off";
    string targetId = "persondiv" + item.Id;
    <div id="@targetId" class="@stripeClass">
        <partial name="_PersonPartialView" model="item" />
    </div>
}
<div class="page-nav-group" >
    <p class="text text-info">@Model.FilterString</p>
    @if (Model.PageNumber != 0 || Model.IsThereMorePages)
    {
        @if (Model.PageNumber > 0)
        {
            <button class="btn btn-primary" onclick="peoplesearchform.PageNumber.value = Number(peoplesearchform.PageNumber.value) - 1; SubmitForm(event, '#peoplesearchform', 'personlist');">&lt; Prev</button>
        }
        else
        {
            <button class="btn btn-primary disabled">&lt; Prev</button>
        }

        @if (Model.IsThereMorePages)
        {
            <button class="btn btn-primary" onclick="peoplesearchform.PageNumber.value = Number(peoplesearchform.PageNumber.value) + 1; SubmitForm(event, '#peoplesearchform', 'personlist');">Next &gt;</button>
        }
        else
        {
            <button class="btn btn-primary disabled">Next &gt;</button>
        }
    }

</div>