@model PeopleViewModel

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <h3>Name</h3>
        </div>
        <div class="col-sm-2">
            <h3>City</h3>
        </div>
        <div class="col-sm-2">
            <h3>Phone Number</h3>
        </div>
        <div class="col-sm-2">
            <h3>Action</h3>
        </div>
    </div>
    @foreach (var item in Model.Persons)
    {
        string targetId = "persondiv" + item.Id;
        string buttonId = "personEditBtn" + item.Id;
        <div id="@targetId">
            @* Maybe can target the actual <partial> instead of an extra div? *@
            <partial name="_PersonPartialView" model="item" />
        </div>
    }
    @if (Model.PageNumber > 0)
    {
        <button onclick="LoadEntriesSearch(event, '#peoplesearchform', @(Model.PageNumber - 1), 'personlist', '/Register/PersonList/');">Prev</button>
    }
    else
    {
        <button style="color: gray;">Prev</button>
    }

    @if (Model.IsThereMorePages)
    {
        <button onclick="LoadEntriesSearch(event, '#peoplesearchform', @(Model.PageNumber + 1), 'personlist', '/Register/PersonList/');">Next</button>
    }
    else
    {
        <button style="color: gray;">Next</button>
    }
</div>