@model List<IHasIdAndName>
@{
    int selectedId = ViewBag.SelectedId;
}
@foreach (var item in Model)
{
    if (item.Id == selectedId)
    {
        <option value="@item.Id" selected>@item.Name</option>
    }
    else
    {
        <option value="@item.Id">@item.Name</option>
    }

}
